APP_KILLSWITCH_ENABLED=false

AUTH_USER=your-auth-username
AUTH_PASS=your-auth-password

AWS_REGION=your-region
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
NEXT_PUBLIC_AWS_RECIPES_TABLENAME=Recipes
S3_BUCKET_NAME=recipes-2025
