@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Tailwind global overrides */

/* lists */
.prose :where(ul):not(:where([class~="not-prose"], [class~="not-prose"] *)),
.prose :where(ol):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  padding-inline-start: 1rem;
}
.prose :where(p + ul):not(:where([class~="not-prose"], [class~="not-prose"] *)),
.prose :where(p + ol):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: -0.1rem;
}
.prose :where(ul > li > p:first-child):not(:where([class~="not-prose"], [class~="not-prose"] *)),
.prose :where(ol > li > p:first-child):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin: 0;
}
.prose :where(ul > li):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  padding-inline-start: 0;
}
.prose :where(ul > li):not(:where([class~="not-prose"], [class~="not-prose"] *))::marker,
.prose :where(ol > li):not(:where([class~="not-prose"], [class~="not-prose"] *))::marker {
  color: #000000;
}
.prose :where(ol > li):not(:where([class~="not-prose"], [class~="not-prose"] *))::marker {
  padding-inline-start: 0;
}

/* other typography */
.prose :where(p):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.prose :where(a):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  font-weight: inherit;
  color: rgb(30 64 175 / var(--tw-text-opacity, 1));
}

/* md image */
.prose :where(img):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin: 0;
}

/* md hr */
.prose :where(hr):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: 0;
  margin-bottom: 1.5em;
}

/* md checkpist */
/* .prose input[type='checkbox'] {
  margin-right: 0.5em;
} */

/* remove scrollbar utility class */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
